
@import "Utils/variable";

//@import url("https://unpkg.com/browse/normalize.css@8.0.1/normalize.css");

@import "Composants/button";
@import "Composants/card";
@import "Composants/like";

@import "Layout/header";
@import "Layout/footer";

@import "Pages/home";
@import "Pages/menu";

@import "Layout/container";
