// Medium devices (tablets, 768px and up)

.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}