footer {
  position: relative;
  z-index: -100;

  padding: 1.25rem;

  background: $gray-4;
  color: white;

  animation: $loader-duration showPart $loader-delay linear forwards;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .container>* {
    margin: 0 0 1.25rem 0;
    padding: 0;
  }

  & svg {
    height: 1rem;
  }

  & ul {
    list-style: none;

    & li {
      margin-bottom: 0.5rem;

      & svg {
        width: 1rem;
        margin-right: 0.5rem;
      }
    }
  }
}