*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

header
{
  position: relative;
  z-index: -100;

  height: 4rem;
  width: 100%;

  padding: 1.375rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $header;
  box-shadow: rgba(0, 0, 0, 0.75) 0 -10px 20px 0;

  animation: $loader-duration showPart $loader-delay linear forwards;

  svg {
    height: 1.875rem;
  }

  .back {
    display: block;
    position: relative;

    height: 0.25rem;
    width: 1.5rem;

    background-color: black;
    border-radius: 0.125rem;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;

      top: -0.3rem;
      left: -0.25rem;

      height: 0.25rem;
      width: 1rem;

      background-color: black;
      border-radius: 0.125rem;

      transform: rotate(-45deg);
    }

    &:after {
      top: 0.3rem;

      transform: rotate(45deg);
    }
  }
}

main {
  position: relative;
  z-index: 0;
}

@keyframes showPart {
  0% {
  }
  99.9999% {
    z-index: -100;
  }
  100% {
    z-index: 100;
  }
}