*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

header
{
  position: relative;
  z-index: 1000;

  height: 4rem;
  width: 100%;

  padding: 1.375rem;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-color: $header;
  box-shadow: rgba(0, 0, 0, 0.75) 0 -10px 20px 0;

  svg {
    height: 1.875rem;
  }
}