/**
 * Color
 */
$header: #ffffff !default;

$primary: #9356DC !default;
$secondary: #FF79DA !default;
$tertiaire: #99E2D0 !default;

$gray-1: #F6F6F6 !default;
$gray-2: #EAEAEA !default;
$gray-3: #7E7E7E !default;
$gray-4: #353535 !default;