/**
 * Color
 */
.btn {
  height: 3.125rem;
  padding: 0 1.375rem;
  color: white;
  border: none;
  border-radius: 1.5625rem;
  background-image: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px 0;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px 0;
}
.btn:active {
  transform: translateY(2px);
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 5px 10px 0;
}

.card {
  height: 16rem;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 10px 0;
  text-decoration: none;
  color: black;
}
.card * {
  margin: 0;
  padding: 0;
}
.card .card-img {
  position: relative;
  z-index: 1;
  height: calc(100% - 4.75rem);
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.card .card-content {
  height: 4.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}
.card .card-content .card-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25rem 0 1.25rem 1rem;
}
.card .card-content .card-like {
  padding-top: 1rem;
  padding-right: 1.5rem;
}
.card.new::after {
  position: absolute;
  content: "Nouveau";
  z-index: 5;
  width: fit-content;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 0.125rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 1px;
  line-height: 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.like {
  width: 1em;
  height: 1em;
  font-size: 2em;
}
.like svg {
  width: 1em;
  height: 1em;
  cursor: pointer;
  overflow: visible;
}
.like svg path {
  stroke-width: 1rem;
  stroke: black;
  fill-opacity: 0;
  fill: url(#linearGradient);
  transform-origin: center;
  transition: stroke-width 2s, fill-opacity 2s, transform 2s;
}
.like svg:hover path {
  stroke-width: 0;
  fill-opacity: 1;
  transform: rotate(360deg);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

header {
  position: relative;
  z-index: 1000;
  height: 4rem;
  width: 100%;
  padding: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.75) 0 -10px 20px 0;
}
header svg {
  height: 1.875rem;
}
header .back {
  display: block;
  position: relative;
  height: 0.25rem;
  width: 1.5rem;
  background-color: black;
  border-radius: 0.125rem;
}
header .back:before, header .back:after {
  content: "";
  display: block;
  position: absolute;
  top: -0.3rem;
  left: -0.25rem;
  height: 0.25rem;
  width: 1rem;
  background-color: black;
  border-radius: 0.125rem;
  transform: rotate(-45deg);
}
header .back:after {
  top: 0.3rem;
  transform: rotate(45deg);
}

footer {
  padding: 1.25rem;
  background: #353535;
  color: white;
}
footer > * {
  margin: 0 0 1.25rem;
  padding: 0;
}
footer svg {
  height: 1rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 0.5rem;
}
footer ul li svg {
  width: 1rem;
  margin-right: 0.5rem;
}

main {
  position: relative;
  z-index: 0;
}
main > div {
  padding: 1.5rem 1.25rem 2.5rem 1.25rem;
}

.content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search {
  width: 100%;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.search > *:not(label) {
  margin: 0 2.25rem 1rem 2.25rem;
  text-align: center;
}
.search > label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  margin-bottom: 2.5rem;
  background-color: #EAEAEA;
}
.search > label > svg {
  width: 1rem;
  height: 1rem;
}
.search > label > input {
  width: min-content;
  height: 3.125rem;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
}
.search > label > input:focus {
  outline: none;
}
.search > p {
  margin-bottom: 1.5rem;
}

span.operation {
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.625rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 10px 0;
  font-weight: bold;
}
span.operation .number {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: -0.625rem;
  padding: 0.3125rem;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  font-size: 0.625rem;
  text-align: center;
}
span.operation svg {
  height: 1.25rem;
  width: 1.25rem;
  color: #7E7E7E;
}
span.operation > * {
  margin-right: 1.25rem;
}
span.operation:hover {
  transition: background-color 0.5s;
  background-color: #f2eafb;
}
span.operation:hover svg {
  color: #9356DC;
}

div#restaurant {
  background-color: #F6F6F6;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  opacity: 1;
  animation: 0.5s hideLoader 5s linear forwards;
}

@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  99.9999% {
    display: flex;
    opacity: 0;
    z-index: 100;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -100;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  background-color: #F6F6F6;
}
.menu img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.menu .title {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -2.5rem;
  padding: 2rem 1.5rem;
  background-color: #F6F6F6;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}
.menu .title h1 {
  margin: 0;
  font-family: "Shrikhand", serif;
  font-weight: 200;
}
.menu .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-left: 1.25rem;
}
.menu .content h4, .menu .content h3 {
  margin: 0;
}
.menu .content h3 {
  position: relative;
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}
.menu .content h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 3rem;
  bottom: -0.25rem;
  left: 0;
  background-color: #99E2D0;
}
.menu .content ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu .content .dishes {
  width: calc(100% - 1rem);
  margin-bottom: 2rem;
}
.menu .content .dishes h3, .menu .content .dishes .dishe {
  opacity: 0;
  transform: translateY(0.5rem);
  animation: 0.5s spawning linear forwards;
}
.menu .content .dishes .dishe {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 1px;
  overflow: hidden;
  cursor: pointer;
}
.menu .content .dishes .dishe .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: 1rem;
  transition: width 0.75s;
}
.menu .content .dishes .dishe .content .text {
  width: calc(100% - 3rem);
}
.menu .content .dishes .dishe .content h4 {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .content .dishes .dishe .content .desc {
  display: block;
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .content .dishes .dishe .content .price {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 3rem;
  margin-right: 0.25rem;
  padding-left: 1rem;
  font-weight: bold;
  transition: margin-right 0.75s;
}
.menu .content .dishes .dishe .content .price span {
  width: 100%;
}
.menu .content .dishes .dishe .selector {
  width: 0;
  background-color: #99E2D0;
  transition: width 0.75s;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.menu .content .dishes .dishe .selector svg {
  width: 2rem;
  height: 2rem;
}
.menu .content .dishes .dishe .selector svg path {
  fill: white;
}
.menu .content .dishes .dishe:hover .content {
  width: calc(100% - 4rem);
}
.menu .content .dishes .dishe:hover .price {
  margin-right: 0.25rem;
}
.menu .content .dishes .dishe:hover .selector {
  width: 4rem;
}
.menu .content .dishes .dishe:hover .selector svg {
  transform: rotate(360deg);
  transition: transform 0.75s;
}
.menu .content #animation1 {
  animation-delay: 1100ms;
}
.menu .content #animation2 {
  animation-delay: 1200ms;
}
.menu .content #animation3 {
  animation-delay: 1300ms;
}
.menu .content #animation4 {
  animation-delay: 1400ms;
}
.menu .content #animation5 {
  animation-delay: 1500ms;
}
.menu .content #animation6 {
  animation-delay: 1600ms;
}
.menu .content #animation7 {
  animation-delay: 1700ms;
}
.menu .content #animation8 {
  animation-delay: 1800ms;
}
.menu .content #animation9 {
  animation-delay: 1900ms;
}
.menu .content #animation10 {
  animation-delay: 2000ms;
}
.menu .content #animation11 {
  animation-delay: 2100ms;
}
.menu .content #animation12 {
  animation-delay: 2200ms;
}
.menu .content #animation13 {
  animation-delay: 2300ms;
}
.menu .content #animation14 {
  animation-delay: 2400ms;
}
.menu .content #animation15 {
  animation-delay: 2500ms;
}
.menu .content #animation16 {
  animation-delay: 2600ms;
}
.menu .content #animation17 {
  animation-delay: 2700ms;
}
.menu .content #animation18 {
  animation-delay: 2800ms;
}
.menu .content #animation19 {
  animation-delay: 2900ms;
}
.menu .content #animation20 {
  animation-delay: 3000ms;
}
.menu .purchase {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.menu .purchase .btn {
  min-width: 50%;
  margin: 1rem 0 5rem 0;
}

@keyframes spawning {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
