main {
  position: relative;
  z-index: 0;

  &>div {
    padding: 1.5rem 1.25rem 2.5rem 1.25rem;
  }
}

.content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search {
  width: 100%;

  padding-bottom: 2.5rem;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  background-color: $gray-1;

  &>*:not(label) {
    margin: 0 2.25rem 1rem 2.25rem;
    text-align: center;
  }

  &>label{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3.125rem;

    margin-bottom: 2.5rem;

    background-color: $gray-2;

    &>svg {
      width: 1rem;
      height: 1rem;
    }

    &>input {
      width: min-content;
      height: 3.125rem;

      background-color: transparent;
      border: none;
      outline: none;

      text-align: center;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }
  }

  &>p {
    margin-bottom: 1.5rem;
  }
}

span.operation {
  height: 4.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  margin-left: 0.625rem;
  margin-bottom: 1.5rem;

  border-radius: 1rem;
  background-color: $gray-1;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 10px 0;

  font-weight: bold;

  .number {
    height: 1.25rem;
    width: 1.25rem;

    margin-left: -0.625rem;
    padding: 0.3125rem;

    border-radius: 50%;
    color: white;
    background-color: $primary;

    font-size: 0.625rem;
    text-align: center;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;

    color: $gray-3;
  }

  &>* {
    margin-right: 1.25rem;
  }

  &:hover {
    background-color: lighten( $primary, 35% );

    svg {
      color: $primary;
    }
  }
}


div#restaurant {
  background-color: $gray-1;
}