.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;

  background-color: $gray-1;

  img {
    width: 100%;
    height: 16rem;

    object-fit: cover;
  }

  .title {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: -2.5rem;
    padding: 2rem 1.5rem;

    background-color: $gray-1;

    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;

    h1 {
      margin: 0;

      font-family: "Shrikhand", serif;
      font-weight: 200;
    }

    .like {
      font-size: 2em;
    }
  }


}