.menu {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;

  img {
    width: 100%;
    height: 16rem;

    object-fit: cover;
  }

}