.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;

  background-color: $gray-1;

  img {
    width: 100%;
    height: 16rem;

    object-fit: cover;
  }

  .title {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: -2.5rem;
    padding: 2rem 1.5rem;

    background-color: $gray-1;

    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;

    h1 {
      margin: 0;

      font-family: "Shrikhand", serif;
      font-weight: 200;
    }

    .like {
      font-size: 2em;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    padding-left: 1.25rem;

    h4, h3 {
      margin: 0;
    }

    h3 {
      position: relative;

      margin-bottom: 1rem;

      font-weight: normal;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;

        height: 0.2rem;
        width: 3rem;
        bottom: -0.25rem;
        left: 0;

        background-color: $tertiaire;
      }
    }

    ol {
      width: 100%;

      padding: 0;
      margin: 0;

      list-style-type: none;

      li {
        width: 100%;
      }
    }

    .dishes {
      width: calc(100% - 1rem);

      margin-bottom: 2rem;

      .dishe {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: stretch;

        width: 100%;

        margin-bottom: 1rem;
        padding: 1rem;

        border-radius: 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 1px;

        h4 {
          margin-bottom: 0.25rem;
          text-overflow: ellipsis;
        }

        .desc {
          text-overflow: ellipsis;
        }

        .price {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;

          margin-right: 0.5rem;
          font-weight: bold;

          span {
            width: 100%;
          }
        }
      }
    }
  }
}