.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;

  background-color: $gray-1;

  img {
    width: 100%;
    height: 16rem;

    object-fit: cover;
  }

  .title {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: -2.5rem;
    padding: 2rem 1.5rem;

    background-color: $gray-1;

    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;

    h1 {
      margin: 0;

      font-family: "Shrikhand", serif;
      font-weight: 200;
    }

    .like {
      font-size: 2em;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    padding-left: 1.25rem;

    h4, h3 {
      margin: 0;
    }

    h3 {
      position: relative;

      margin-bottom: 1rem;

      font-weight: normal;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;

        height: 0.2rem;
        width: 3rem;
        bottom: -0.25rem;
        left: 0;

        background-color: $tertiaire;
      }
    }

    ol {
      width: 100%;

      padding: 0;
      margin: 0;

      list-style-type: none;

      li {
        width: 100%;
      }
    }

    .dishes {
      width: calc(100% - 1rem);

      margin-bottom: 2rem;

      h3, .dishe {
        opacity: 0;

        transform: translateY(.5rem);
        animation: .5s spawning linear forwards;
      }

      .dishe {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: stretch;

        width: 100%;

        margin-bottom: 1rem;
        padding: 1rem;

        border-radius: 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 1px;

        cursor: pointer;

        h4 {
          margin-bottom: 0.25rem;
          font-size: 1.1rem;
          text-overflow: ellipsis;
        }

        .desc {
          text-overflow: ellipsis;
          font-size: 0.95rem;
        }

        .price {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;

          margin-right: 0.5rem;
          font-weight: bold;

          span {
            width: 100%;
          }
        }

        $dish-transition-delay: 2s;

        transition: padding-right $dish-transition-delay;

        &:before {
          content: '';
          position: absolute;

          width: 0;

          top: 0;
          right: 0;
          bottom: 0;

          background-color: $tertiaire;

          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;

          transition: width $dish-transition-delay;
        }

        &:hover {
          padding-right: calc(1rem + 4rem);

          &:before {
            width: 4rem;
          }
        }
      }
    }
  }

  .purchase {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    .btn {
      min-width: 50%;
      margin: 1rem 0 5rem 0;
    }
  }
}


@keyframes spawning {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}