.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;

  background-color: $gray-1;

  img {
    width: 100%;
    height: 16rem;

    object-fit: cover;
  }

  .title {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: -2.5rem;
    padding: 2rem 1.5rem;

    background-color: $gray-1;

    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;

    h1 {
      margin: 0;

      font-family: "Shrikhand", serif;
      font-weight: 200;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    padding-left: 1.25rem;

    h4, h3 {
      margin: 0;
    }

    h3 {
      position: relative;

      margin-bottom: 1rem;

      font-weight: normal;
      text-transform: uppercase;

      &::after {
        content: '';
        position: absolute;

        height: 0.2rem;
        width: 3rem;
        bottom: -0.25rem;
        left: 0;

        background-color: $tertiaire;
      }
    }

    ol {
      padding: 0;
      margin: 0;

      list-style-type: none;
    }

    .dishes {
      width: calc(100% - 1rem);

      margin-bottom: 2rem;

      h3, .dishe {
        opacity: 0;

        transform: translateY(.5rem);
        animation: .5s spawning linear forwards;
      }

      $price-width: 2rem;

      .dishe {
        $dish-transition-delay: .75s;


        display: flex;
        flex-direction: row;
        align-items: stretch;

        width: 100%;

        margin-bottom: 1rem;

        border-radius: 1rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 1px;

        overflow: hidden;

        cursor: pointer;


        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;

          width: 100%;
          max-width: 100%;

          padding: 1rem;

          transition: max-width $dish-transition-delay;

          .text {
            width: 100%;
          }

          h4 {
            display: block;
            margin-bottom: 0.25rem;
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .desc {
            display: block;
            font-size: 0.95rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .price {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;

            width: $price-width;

            margin-right: 0.5rem;
            font-weight: bold;

            transition: margin-right $dish-transition-delay;

            span {
              width: 100%;
            }
          }
        }

        $selector-width: 4rem;

        .selector {
          width: 0;

          background-color: $tertiaire;

          transition: width $dish-transition-delay;

          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;

          svg {
            width: $selector-width/2;
            height: $selector-width/2;

            path {
              fill: white;
            }
          }
        }

        &:hover
        {

          .content {
            max-width: calc(100% - $selector-width);

            .text {
              width: calc(100% - $price-width);
            }
          }

          .price {
            margin-right: 0.25rem;
          }

          .selector {
            width: $selector-width;

            svg {
              transform: rotate(360deg);
              transition: transform $dish-transition-delay;
            }
          }
        }
      }
    }

    @for $i from 1 through 20 {
      #animation#{$i} {
        animation-delay: 1000ms + (100ms * $i)
      }
    }
  }

  .purchase {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    .btn {
      min-width: 50%;
      margin: 1rem 0 5rem 0;
    }
  }
}


@keyframes spawning {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}